*, *::before, *::after {
  box-sizing: border-box;
}

html {
    height: 100%;
    font-family: sans-serif;
}

body {
    height: 100%;
    margin: 0;
}

.hidden {
    display: none !important;
}

.initScreen {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.chatScreen {
    height: 100%;
}

.chatScreen_inputcontainer {
    margin-top: 10px;
    display: flex;
    height: 5%;
    padding: 0 15px;
    input {
        width: 80%;
        border: 2px solid #E2E8F0;
        background-color: #F8FAFC;
        border-radius: 20px 0 0 20px;
        padding: 10px;
        border-right: none;
    }
    button {
       width: 20%;
        background-color: #0369A1;
        border: transparent;
        color: white;
        border-radius: 0 20px 20px 0;
    }
}

.chatScreen_conversationContainer {
    overflow: auto;
    border-top: 1px solid;
    border-bottom: 1px solid;
    padding: 10px;
    height: 83%;
    border-color: #E2E8F0;
}

.chatScreen_conversationContainer::-webkit-scrollbar {
    display: none;
}

.chatScreen_conversationContainer_chatBubble {
    border: 0.5px solid;
    padding: 10px;
    border-radius: 12px;
    position: relative;
    margin-bottom: 10px;
    display: inline-block;
    max-width: 90%;
    min-width: 60%;
    background-color: #EEF2FF;
    border-color: transparent;
    border-top-left-radius: 0;
}

.chatScreen_conversationContainer_chatBubble_source {
    position: absolute;
    top: 0;
    font-size: 10px;
}

.chatScreen_conversationContainer_chatBubble_message {
    margin-bottom: 0.2em;
    margin-top: 1.5em;
    text-wrap: wrap;
    overflow-wrap: anywhere;
}

#targetUserNameTitle {
    width: 100%;
}

#statusBar {
    margin:4px 0;
    font-size:0.8em;
    color:#888;
    text-align:center;
    display: none;
}

.chatScreen_targetUsernamecontainer {
    display: flex;
    align-items: center;
}

.chatScreen_targetUsernamecontainer_onlineStatus {
    height: 5px;
    width: 5px;
    border: solid;
    border-radius: 50%;
}

.chatLoading {
    background-color: gray;   
}

.loadingOverlay {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: grey;
    color: #ffffff;
    font-size: 2rem;
}

.chatScreen_conversationContainer_chatItem {
    display: flex;
}

.chat_flexEnd {
    justify-content: flex-end;
}

.chatBubble_incoming {
    background-color: #0284C7;
    color: white;
    border-top-left-radius: 12px;
    border-top-right-radius: 0;
}

#chatSettings {
    background-color: transparent;
    border: none;
}

.chatScreen_statuscontianer {
    display: flex;
    background-color: #F8FAFC;
    padding: 0 15px;
}